.playlist-add-video {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;

  .video-textbox {
    width: 80%;
    padding: 0.5em;
  }

  .add-video-button {
    width: 15%;
    padding: 0.5em;
  }
}